<!-- about_app.html -->
{% extends "../base.html" %}{% load static %}

{% block content %}
<div class="container">
    <br>
    <br>
    <h1>About Us</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p>Welcome to Expense Manager, your personal finance assistant! Our mission is to help you take control of your finances and achieve your financial goals with ease.</p>
    <h2>What is an Expense Manager?</h2>
    <p>Personal finance management is an important part of people’s lives. However, everyone does not have the knowledge or time to manage their finances in a proper manner. And, even if a person has time and knowledge, they do not bother with tracking their expenses as they find it tedious and time-consuming. Now, you don’t have to worry about managing your expenses, as you can get access to an expense tracker that will help in the active management of your finances.</p>
    <img src="{% static 'assets/img/logos/Screenshot (331).png' %}" alt="Expense Manager Image">
     <br>
     <br>
    <h2>Key Features</h2>
    <ul>
        <li>Effortlessly track your expenses and income</li>
        <li>Create custom budget categories and set spending limits</li>
        <li>Generate detailed reports to analyze your spending habits</li>
        <li>Securely sync your data across multiple devices</li>
        <li>And much more!</li>
    </ul>

    <h2>Benefits of Using Daily Money Manager</h2>
    <p>If you are wondering why you should be using a daily expense manager, here are some benefits that you should be aware of:</p>
    <ul>
        <li><h4>Prioritize Your Spending</h4></li>
        <p>Remember you are on a fixed income and have a limited amount of money to spend. If you begin analyzing what you are spending your hard earned money on, you will be able to prioritize the spending. This way, you will spend just on things you really need, like paying your EMIs, utility bills, rent and grocery shopping, rather than spending frivolously.
        </p>
        <li><h4>Become Aware of Poor Spending Habits</h4></li>
        <p>If you have a tendency to spend money on a whim, using an expense manager will help you identify those habits. When you see this spending in black and white, you will be able to take corrective measures. Primarily, you will think twice before spending on things you don’t really need.
        </p>
        <li><h4>Identify Fraud</h4></li>
        <p>With India slowly shifting to digital payment, it is important you keep close track of your credit card statements, bank accounts and spending. Otherwise, you can fall prey to financial fraud and not even realize it. If your hard-earned money gets stolen due to poor financial management, it can be devastating and it will be very difficult to come out of it.
        </p> 
        <li><h4> Take Control of Your Finances</h4></li>
        <p>When you track your expenses, you take control of your finances. It empowers you to control spending impulses and eliminate frivolous spending, thereby avoiding debt. You can, instead, work to create financial security for yourself by spending your money more wisely.
            </p>
        <li><h4>Saving and Investment </h4></li> 
         <p>When you track your expenses, you can save better and invest for your future. Spending aimlessly does not give you leeway to save and invest for your future.
            </p>
        <p>The way to use a daily expense manager is, well, daily. Map your spending for 30 days and then multiply it by 12. That will give you the amount you spend annually. It can be an eye-opening experience, and you will immediately start working to reduce that amount. By tracking your expenses with a reliable money management app, not only can you save money, you can also set financial goals for yourself so that you can create a nest egg for emergencies and the future.
            </p>
               </ul>
    
    
</div>
{% endblock %}
